
body {
background: #6b6b47;
font-family: sans-serif;   
}
.table-div{
	width: 800px;
	padding: 8% 0 0;
	margin: auto;
}
.login-div{
	width: 460px;
	padding: 8% 0 0;
	margin: auto;
}
.login-form{
	position: relative;
	background: #FFFFFF;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: left;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form p{
	margin: 2px;
	padding: 0;
}
.login-form input[type="text"], input[type="password"], input[type="submit"],input[type="button"]{
	font-family: sans-serif;
	background: #ede9e1;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;        	   
}
.login-form input[type="submit"]:hover{
	opacity: 0.8;
}
.image-container{
	width: 50;
	padding: 10px;
}
.image-container img{
	display: block;
	margin-left: auto;
	margin-right: auto 
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr:nth-child(even){background-color: #ece8df}
th {
	background-color: #d9d2bf;
	color: white;
}
th, td {
	text-align: left;
	padding: 8px;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 9px 15px;
        outline: 0;
        border: 0px groove #131313;
        border-radius: 0px;
        background: #EDE9E1;
        color: #1F1F1F;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #CCCCCC;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 11px;
    right: 29px;
    width: 0;
    height: 0;
    border: solid #7B7B7B;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}
